*{
    color: orange;
    font-size: 0.9rem;
}
.wrapper{
 
}
.title{
    font-size: 2rem;
    text-align: left;
    justify-content: left;
}
.container{
    display:flex;
    max-width: 30rem;
    flex-wrap: wrap;
    gap: 1rem;
}
.form_class{
    display: flex;
    flex-direction: column;
    height: 1.5rem;
}
.form_class2{
    max-width: 7rem;
}
.form_class3{
    min-width: 30rem;
}
